/** custom.css  */

.border-link {
  text-decoration: none;
  border: .5px solid #27ae60; /* Adjust the border thickness here (1px) */
  padding: 5px 10px;
  border-radius: 2px;
  color: black;
  transition: border 0.3s, color 0.3s;
}

.border-link:hover {
  border: .5px solid #3498db; /* Restore the thicker border on hover (2px) */
  color: #27ae60;
  background-color: transparent; /* Keep the background color transparent on hover */
}

