/** custom.css  */

body {
  font-family: 'Merriweather', serif;
  font-size: 16px
}

.border-link {
  text-decoration: none;
  border: 1px solid #27ae60; /* Adjust the border thickness here (1px) */
  padding: 1px 3px;
  border-radius: .5px;
  color: black;
  transition: border 0.3s, color 0.3s;
}

.border-link:hover {
  border: 2px solid #27ae60; /* Restore the thicker border on hover (2px) */
  color: #27ae60;
  background-color: transparent; /* Keep the background color transparent on hover */
}

.gradient-text {
  font-size: 2em;
  font-weight: normal; /* Non-bold text */
  background: linear-gradient(to right, black 40%, yellow 60%); /* More black, less yellow */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.italic-text {
  font-style: italic;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.italic-text:hover {
  font-style: italic;
  color: #27ae60;
  font-weight: bold;
}

